<html>
<head>
<title>
Index of html
</title>
</head>
<body>
<div id="content">
<table border="1" bgcolor="pink" width="400px" height="400px">
<tr>
	<td>
		Logo
	</td>
	<td>
		Image
	</td>
</tr>
<tr>
	<td>
	<h3 align="center">
	<nav>
	<a href="#"> Home
	 </a>
	 </nav>
	</h3>
	</td>
	<td rowspan="7" width="300px">
	<center><button type="button">New</button></center>
	</td>
</tr>
<tr>
	<td>
	<h3 align="center">
	<nav><a href="#">Employee Master</a></nav>
	</h3>
	</td>
</tr>
<tr>
	<td>
	<h3 align="center">
	<nav><a href="#">Random</a></nav>
	</h3>
	</td>
</tr>
<tr>
	<td>
	<h3 align="center">
	<nav><a href="#">Cleaning List</a></nav>	
	</h3>
	</td>
</tr>
<tr>
	<td>
	<h3 align="center">
	<nav><a href="../ojt1/controllers/welcome_controller.rb">Library</a></nav>
	</h3>
	</td>
</tr>
<tr>
	<td>
	<h3 align="center">
	<nav><a href="#">Chatroom</a></nav>
	</td>
</tr>
<tr>
	<td>
	<h3 align="center">
	<nav><a href="#">Forum</a></nav></td>
</tr>
<tr>
	<td colspan="2"></div>
<div id="footer" align="center" style="background-color:#FFA500">
Copyright All right reserved.

<br>
	<nav><a href="#">Home</a>
			<a href="#">Employee Master</a>
			<a href="#">Random</a>
			<a href="#">Cleaning List</a>
			<a href="#">Library</a>
			<a href="#">Chat</a>
		</nav>
</div>
</td>
</tr>
</table>

</body>
</html>