<html>
<head>
</head>
<body>
<form>
	<h2><b>New</b></h2>
	<br>
	<h3> Title</h3>:<input type="text" name="title"><br>
	<h3> Tag</h3>:<input type="text" name="title"><br>
	<h3> Content</h3>:<input type="text-area" name="content"><br>
	<h3> Image</h3>:<input type="file" name="pic" accept="image/*"><br>
	<h3> Reference</h3>:<input type="text" name="ref"><br>
	<h3> File</h3>:<input type="file" name="file" multiple><br>
	<center><button name="btsave">Save</button><button name="btcancel">Cancel</button></center>
</form>
</body>
</html>